---
layout: archive
---

{% if page.url == "/" %}
<h3>Welcome to Preesm</h3>
<p style="font-size: 16px; text-align: justify;"><strong>PREESM</strong> ['prɪzəm] is an <strong>open source rapid prototyping tool</strong>. It simulates signal processing applications and generates code for <strong>heterogeneous multi/many-core embedded systems</strong>. Its dataflow language eases the description of parallel signal processing applications.</p>

<p style="font-size: 16px; text-align: justify;"><a href="./about">I want to know more</a>.</p>
{% endif %}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
